@import '../config';

.sponsoring-hero-section {
    padding: 16px;
    padding-top: calc(62.5px + 16px);
    height: 100vh;
    display: flex;
    flex-direction: column;

    .sponsoring-hero {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;

        .sponsoring-hero-image {
            width: 100;
            flex: 1;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .sponsoring-hero-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .sponsoring-hero-button {
                display: none;
            }
        }
    }
}

.sponsoring-partner-section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sponsor {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sponsor-image {
        width: 100%;
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sponsor-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


@include media-breakpoint-up(md) {

    .sponsoring-hero {
        position: relative;
    }

    .sponsoring-hero-image {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .sponsoring-hero-text {
        width: 100%;
        background-color: $bg-transparent;
    }

}

@include media-breakpoint-up(lg) {
    .sponsoring-hero {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .sponsoring-hero-text {
        position: absolute;
        bottom: 16px;
        z-index: 2;
        padding: 16px;
        max-width: 700px;
    }

    .sponsoring-partner-section {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}

@include media-breakpoint-up(xl) {
    .sponsoring-hero {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .sponsoring-hero-text {
        padding: 32px
    }

}