@import '../config';

.formular-hero-section {
    padding-top: calc(62.5px + 16px) !important;
    padding-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .formular-hero {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;


        .formular-hero-image {
            width: 100%;
            flex: 1;
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 400px;
        }

        .formular-hero-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.form-footer,
.form-title {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
}

.form-title {
    border-bottom: 1px solid $primary;
}

.form-body {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.form-element-right,
.form-element {
    width: 100%;
    max-width: 360px;
    margin-bottom: 16px;
}


.form-button {
    width: 100%;
    max-width: 320px;
    margin-bottom: 32px;
}

@include media-breakpoint-up(lg) {

    .form-body {
        flex-direction: row;
        justify-content: center;
        padding: 64px;
        gap: 64px;
    }

    .form-element-right {
        float: right;
    }
}