<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <nav class="navbar bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img id="navbar-logo" alt="app-logo"
        /></a>
      </div>
    </nav>

    <section class="service-hero-section">
      <div class="service-hero container bg-dark-transparent">
        <div class="service-hero-image service-b"></div>
        <div class="service-hero-text">
          <div class="my-3">
            <span class="h1 text-white text-uppercase"
              >objekt<span class="h1 text-primary text-uppercase"
                >schutz</span
              ></span
            >
          </div>
          <span>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
          </span>
          <a class="btn btn-primary w-100 text-uppercase my-4 px-4n"
            >jetzt anfragen</a
          >
        </div>
      </div>
    </section>

    <section class="service-description-section container">
      <div
        class="service-description-mobile-content accordion accordion-flush"
        id="accordionFlushOne"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <span class="h3 text-uppercase text-white">Aufgabenbereiche</span>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushOne"
          >
            <div class="accordion-body">
              <div class="service-description-content-body">
                <span class="h4"
                  >Gerade im Bereich des Objektschutzes gibt es zahlreiche
                  Tätigkeiten, die anfallen können:</span
                >
                <ul>
                  <li>
                    permanenter Objektschutz (Kontrolle und Dokumentation ein-
                    und ausgehender Personen, sowie ein- und ausfahrender
                    Fahrzeuge bei Objekten, Anbindung an die Alarmzentrale, …).
                  </li>
                  <li>
                    kurzfristiger Objektschutz bei Veranstaltungen (etwa im Zuge
                    des Aufbaus eines Veranstaltungsareals) .
                  </li>
                </ul>
                <span class="h5">
                  Der Objektschutz fällt laut §129 Abs. 4 GewO in den
                  Tätigkeitsbereich des Bewachungsgewerbes: „Einer
                  Gewerbeberechtigung für das Bewachungsgewerbe (§94 Z 62)
                  unterliegt die Bewachung von Betrieben, Gebäuden, Anlagen,
                  Baustellen, Grundstücken und von beweglichen Sachen sowie der
                  Betrieb von Notrufzentralen.“
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="service-description-mobile-content accordion accordion-flush"
        id="accordionFlushTwo"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSecond">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSecond"
              aria-expanded="false"
              aria-controls="flush-collapseSecond"
            >
              <span class="h3 text-uppercase text-white">Referenzen</span>
            </button>
          </h2>
          <div
            id="flush-collapseSecond"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSecond"
            data-bs-parent="#accordionFlushTwo"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item's accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
          </div>
        </div>
      </div>
      <div class="service-description-content w-100">
        <div class="service-description-content-header">
          <span class="h3 text-uppercase">Aufgabenbereiche</span>
        </div>
        <div class="service-description-content-body">
          <span class="h4"
            >Gerade im Bereich des Objektschutzes gibt es zahlreiche
            Tätigkeiten, die anfallen können:</span
          >
          <ul>
            <li>
              permanenter Objektschutz (Kontrolle und Dokumentation ein- und
              ausgehender Personen, sowie ein- und ausfahrender Fahrzeuge bei
              Objekten, Anbindung an die Alarmzentrale, …).
            </li>
            <li>
              kurzfristiger Objektschutz bei Veranstaltungen (etwa im Zuge des
              Aufbaus eines Veranstaltungsareals) .
            </li>
          </ul>
          <span class="h5">
            Der Objektschutz fällt laut §129 Abs. 4 GewO in den
            Tätigkeitsbereich des Bewachungsgewerbes: „Einer Gewerbeberechtigung
            für das Bewachungsgewerbe (§94 Z 62) unterliegt die Bewachung von
            Betrieben, Gebäuden, Anlagen, Baustellen, Grundstücken und von
            beweglichen Sachen sowie der Betrieb von Notrufzentralen.“
          </span>
        </div>
      </div>

      <div class="service-description-content flex-shrink-1">
        <div class="service-reference-header text-center">
          <span class="h3 text-uppercase text">Referenzen</span>
        </div>
        <div class="service-reference-body"></div>
      </div>
    </section>

    <div class="contact-section">
      <div class="contact-form container">
        <div class="row">
          <div
            class="col-md-12 col-lg-6 text-uppercase h2 my-4 contact-form-title"
          >
            <span>noch fragen?</span>
            <span class="text-primary">kontaktieren <span>sie uns</span></span>
          </div>
          <form class="col-md-12 col-lg-6" action="">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Titel:</label
              >
              <input
                type="title"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Titel"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Vor und Nachname</label
              >
              <input
                type="name"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Vor und Nachname"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email:</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Ihre Nachricht an uns:</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>

            <button
              type="submit"
              class="btn btn-primary my-3 text-uppercase w-100"
            >
              formular absenden
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <div class="footer w-100">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <span class="h6">ASAVE Security Service, Ylva Haberlik e.U.</span>
            <address>
              <span>Hauptstrasse 83 - 85</span>
              <br />
              <span>A - 4040 Linz</span>
              <br />
              <span>+43 732 / 91 81 51</span>
              <br />
              <a class="text-black" href="mailto:office@asave.net"
                >office@asave.net</a
              >
              <br />
            </address>
          </div>
          <div class="col-md-12 col-lg-6 footer-terms">
            <div class="terms-links">
              <span class="h6">Rechtliches</span>
              <ul class="footer-list">
                <li>
                  <a class="text-black" href="datenschutz.html">Datenschutz</a>
                </li>
                <li>
                  <a class="text-black" href="impressum.html">Impressum</a>
                </li>
                <li><a class="text-black" href="agb.html">AGB</a></li>
              </ul>
            </div>
            <img id="footer-certificate" src="" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 my-4">
            <span
              >© 2002 - 2022 by ASAVE Security Service Ylva Haberlik e.U.</span
            >
            <br />
            <span>Urheberrecht by Michael Blaha </span>
            <br />
            <span>Designed & developed by Andreas Benz e.U.</span>
            <br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
