<div class="form-title">
  <span class="h2 text-white"
    >Angaben zum <span class="h2 text-primary">Auftraggeber</span></span
  >
</div>

<div class="form-body">
  <section class="col-md-12 col-lg-6">
    <div class="form-element-right">
      <label for="exampleFormControlInput1" class="form-label"
        >Art des Auftrages</label
      >
      <input
        name="auftraggeber"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Auftraggeber" />
    </div>
    <div class="form-element-right">
      <label for="exampleFormControlInput1" class="form-label"
        >Ansprechpartner</label
      >
      <input
        name="ansprechpartner"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ansprechpartner" />
    </div>
    <div class="form-element-right">
      <label for="exampleFormControlInput1" class="form-label">Straße</label>
      <input
        name="straße"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Straße" />
    </div>
    <div class="form-element-right">
      <label for="exampleFormControlInput1" class="form-label">Ort</label>
      <input
        name="ort"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ort" />
    </div>
  </section>

  <section class="col-md-12 col-lg-6">
    <div class="form-element">
      <label for="exampleFormControlInput1" class="form-label"
        >E-Mail Adresse</label
      >
      <input
        name="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="E-Mail" />
    </div>
    <div class="form-element">
      <label for="exampleFormControlInput1" class="form-label"
        >Telefon tagsüber</label
      >
      <input
        name="phone"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Telefon tagsüber" />
    </div>
    <div class="form-element">
      <label for="exampleFormControlInput1" class="form-label"
        >Telefon mobil</label
      >
      <input
        name="phone-mobil"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Telefon mobil" />
    </div>
  </section>
</div>
<section class="form-footer">
  <button
    type="submit"
    class="form-button btn btn-primary text-uppercase"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide-to="1"
    aria-label="Slide 2">
    weiter
  </button>
</section>
