<div class="form-title">
  <span class="h2 text-white">Angaben zur <span class="h2 text-primary">Sicherheitsbekleidung</span></span>
</div>

<div class="form-body">
    <section class="col-md-12 col-lg-6">
      <div class="form-element">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Standposten" />
        <label class="form-check-label" for="flexCheckDefault">
          Uniform 1 -Uniformhemd blau, schwarze Hose, schwarze
          Rangerweste
        </label>
      </div>
      <div class="form-element">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Standposten" />
        <label class="form-check-label" for="flexCheckDefault">
          Uniform 2 - schwarzer oder grauer Overall
        </label>
      </div>
      <div class="form-element">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Standposten" />
        <label class="form-check-label" for="flexCheckDefault">
          Uniform 3 - schwarzer Anzug,weißes Hemd,schwarze
          Sicherheitskrawatte, Dienstausweis
        </label>
      </div>
      <div class="form-element">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Standposten" />
        <label class="form-check-label" for="flexCheckDefault">
          Verkehrsweste
        </label>
      </div>
      <div class="form-element">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Standposten" />
        <label class="form-check-label" for="flexCheckDefault">
          Sonstiges
        </label>
      </div>
    </section>
    <section class="col-md-12 col-lg-6">

      <div class="form-element">
        <label for="exampleFormControlInput1" class="form-label"
          >Sonstige Bekleidung</label
        >
        <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        placeholder="Sonstige Bekleidung"
        rows="3"
      ></textarea>
    </section>
  </div>
  <section class="form-footer">
    <button
      type="submit"
      class="form-button btn btn-primary text-uppercase"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4">
      weiter
    </button>
  </section>