<footer>
    <footer class="footer w-100">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <span class="h6">ASAVE Security Service, Ylva Haberlik e.U.</span>
              <address>
                <span>Hauptstrasse 83 - 85</span>
                <br />
                <span>A - 4040 Linz</span>
                <br />
                <span>+43 732 / 91 81 51</span>
                <br />
                <a class="text-black" href="mailto:office@asave.net"
                  >office@asave.at</a
                >
                <br />
              </address>
            </div>
            <div class="col-md-12 col-lg-6 footer-terms">
              <div class="terms-links">
                <span class="h6">Rechtliches</span>
                <ul class="footer-list">
                  <li>
                    <a class="text-black" href="datenschutz.html">Datenschutz</a>
                  </li>
                  <li>
                    <a class="text-black" href="impressum.html">Impressum</a>
                  </li>
                  <li><a class="text-black" href="agb.html">AGB</a></li>
                </ul>
              </div>
              <img id="footer-certificate" src="./imgs/certificate.png" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-12 my-4">
              <span
                >© 2002 - 2022 by ASAVE Security Service Ylva Haberlik e.U.</span
              >
              <br />
              <span>Urheberrecht by Markus Blaha </span>
              <br />
              <span>Designed & developed by Andreas Benz e.U.</span>
              <br />
            </div>
          </div>
        </div>
      </footer>
</footer>