<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <!--Navigationbar-->
    <nav class="navbar bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img id="navbar-logo" alt="app-logo" /></a>
        </div>
    </nav>
    <!-- HeroSection -->
    <div class="container text-center hero-section">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner pt-lg-4">
                <div class="carousel-item active text-center">
                    <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-lg-center h-100">
                        <div class="hero-logo img-container"></div>
                        <div class="hero-description d-block text-uppercase h1">
                            <span class="d-block">sicherheit</span>
                            <span>durch<span class="text-primary">&nbsp;qualität</span></span>
                            <div class="hero-xl-description">
                                <span class="text-primary">Asave Security Service<span class="text-white">&nbsp;- Ihr ISO-zertifiziertes</span></span>
                                <span>Sicherheitsunternehmen aus Linz.</span>
                            </div>
                            <a class="btn btn-primary w-100 text-uppercase my-4 px-4n">jetzt anfragen</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item  text-center ">
                    <div class="d-flex flex-1 flex-column flex-lg-row-reverse justify-content-center align-items-lg-center h-100">
                        <div class="hero-event img-container"></div>
                        <div class="hero-description d-block text-uppercase h1 ">
                            <span class="d-block">feiern sie uns</span>
                            <span>uns<span class="text-primary">&nbsp;jubiläum</span></span>
                            <div class="hero-xl-description">
                                <span class="text-primary">Asave Security Service<span class="text-white">&nbsp;- 20 Jahre Erfahrung</span></span>
                                <span>mit Sicherheit durch Qualität</span>
                            </div>
                            <a class="btn btn-primary w-100 text-uppercase my-4 px-4">mehr erfahren</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <i class="fa-solid fa-chevron-down text-primary mt-lg-4"></i>
    </div>
    </div>

    <!--Services-->
    <div class="container ">
        <div class="row  g-4 align-items-center my-2">
            <div href="#" class="col-sm-12 col-lg-4 service-container">
                <a class="service-content" id="service-a">
                    <div class="service-description text-uppercase">
                        <span class="text-white">revier<span class="text-primary">streife</span></span>
                    </div>
                </a>

            </div>
            <div href="#" class="col-sm-12 col-lg-4 service-container">
                <a class="service-content" id="service-b">
                    <div class="service-description text-uppercase">
                        <span class="text-white">objekt<span class="text-primary">schutz</span></span>
                    </div>
                </a>
            </div>
            <div href="#" class="col-sm-12 col-lg-4 service-container">
                <a class="service-content" id="service-c">
                    <div class="service-description text-uppercase">
                        <span class="text-white">portier<span class="text-primary">dienst</span></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row g-4 align-items-center my-2">
            <div href="#" class="col-sm-12 col-lg-4 service-container">
                <a class="service-content" id="service-d">
                    <div class="service-description text-uppercase">
                        <span class="text-white">veranstaltungs<span class="text-primary">schutz</span></span>
                    </div>
                </a>
            </div>
            <div href="#" class="col-sm-12 col-lg-4 service-container">
                <a class="service-content" id="service-e">
                    <div class="service-description text-uppercase">
                        <span class="text-white">berufs<span class="text-primary">detektei</span></span>
                    </div>
                </a>
            </div>
            <div href="#" class="col-sm-12 col-lg-4 service-container">
                <a class="service-content" id="service-f">
                    <div class="service-description text-uppercase">
                        <span class="text-white">personen<span class="text-primary">schutz</span></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="row g-4 align-items-center">
            <div href="#" class="col-sm-12 col-lg-6 service-container">
                <a class="service-content" id="service-g">
                    <div class="service-description text-uppercase ">
                        <span class="text-white">jetzt<span class="text-primary">anfragen</span></span>
                    </div>
                </a>
            </div>
            <div href="#" class="col-sm-12 col-lg-6 service-container">
                <a class="service-content" id="service-h">
                    <div class="service-description text-uppercase ">
                        <span class="text-white">jetzt<span class="text-primary">bewerben</span></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="divider"></div>
    </div>



    <!-- ContactForm-->
    <div class="container px-4">
        <div class="row contact-form">
            <div class="col-md-12 col-lg-6 text-uppercase h2 my-4 contact-form-title">
                <span>noch fragen?</span>
                <span class="text-primary">kontaktieren <span>sie uns</span></span>
            </div>
            <form class="col-md-12 col-lg-6" action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titel:</label>
                    <input type="title" class="form-control" id="exampleFormControlInput1" placeholder="Titel">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Vor und Nachname</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1"
                        placeholder="Vor und Nachname">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Ihre Nachricht an uns:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary my-3 text-uppercase w-100">formular absenden</button>
            </form>
        </div>
    </div>
    <!-- Footer-->
    <div class="footer w-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <span class="h6">ASAVE Security Service, Ylva Haberlik e.U.</span>
                    <address>
                        <span>Hauptstrasse 83 - 85</span>
                        <br>
                        <span>A - 4040 Linz</span>
                        <br>
                        <span>+43 732 / 91 81 51</span>
                        <br>
                        <a class="text-black" href="mailto:office@asave.net">office@asave.net</a>
                        <br>

                    </address>
                </div>
                <div class="col-md-12 col-lg-6 footer-terms">
                    <div class="terms-links">
                        <span class="h6">Rechtliches</span>
                        <ul class="footer-list">
                            <li><a class="text-black" href="datenschutz.html">Datenschutz</a></li>
                            <li><a class="text-black" href="impressum.html">Impressum</a></li>
                            <li><a class="text-black" href="agb.html">AGB</a></li>
                        </ul>
                    </div>
                    <img id="footer-certificate" src="" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <span>© 2002 - 2022 by ASAVE Security Service Ylva Haberlik e.U.</span>
                    <br>
                    <span>Urheberrecht by Michael Blaha </span>
                    <br>
                    <span>Designed & developed by Andreas Benz e.U.</span>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>

</html>