{% set page_name = 'Anfrageformular' %} {% set SEO_description = 'SSG using
Nunjucks and Gulp' %} {% set SEO_keywords = 'SSG, Nunjucks, Gulp, JavaScript' %}
{% extends "layouts/layout.html" %} {% block content %}
<section class="container iso-hero-section">
  <div class="formular-hero bg-dark-transparent">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-touch="false">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 7"></button>
      </div>
      <form action="requestform.php" method="post">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="form-header text-center w-100 p-4">
              <span class="h2 text-white text-uppercase"
                >Angaben zum
                <span class="h2 text-primary text-uppercase"
                  >Auftraggeber</span
                ></span
              >
            </div>

            <div class="input-container w-100 p-4">
              <section class="col-md-12 col-lg-6">
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Art des Auftrages</label
                  >
                  <input
                    name="auftraggeber"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Auftraggeber" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Ansprechpartner</label
                  >
                  <input
                    name="ansprechpartner"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Ansprechpartner" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Straße</label
                  >
                  <input
                    name="straße"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Straße" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Ort</label
                  >
                  <input
                    name="ort"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Ort" />
                </div>
              </section>

              <section class="col-md-12 col-lg-6">
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >E-mail Adresse</label
                  >
                  <input
                    name="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="E-Mail" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Telefon tagsüber</label
                  >
                  <input
                    name="phone"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Telefon tagsüber" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Telefon mobil</label
                  >
                  <input
                    name="phone-mobil"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Telefon mobil" />
                </div>
              </section>
            </div>
            <section class="w-100 text-center p-4 flex-1">
              <button
                type="submit"
                class="form-button btn btn-primary text-uppercase"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2">
                weiter
              </button>
            </section>
          </div>
          <div class="carousel-item">
            <div class="form-header text-center w-100 p-4">
              <span class="h2 text-white text-uppercase"
                >Angaben zum
                <span class="h2 text-primary text-uppercase"
                  >Auftrag</span
                ></span
              >
            </div>

            <div class="input-container w-100 p-4">
              <section class="col-md-12 col-lg-6">
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Art des Auftrages</label
                  >
                  <input
                    name="auftragsart"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Art des Auftrages" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Auftragsort</label
                  >
                  <input
                    name="auftragsort"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Auftragsort" />
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Auftragsdatum</label
                  >
                  <input
                    name="auftragsort"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Auftragsort" />
                </div>
              </section>

              <section class="col-md-12 col-lg-6">
                <div class="mb-3 w-100">
                  <h5 class="font-bold form-label">
                    Voraussichtlicher Aufgabenumfang
                  </h5>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="vip-service" />
                  <label class="form-check-label" for="flexCheckDefault">
                    VIP-Service
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Räumung-des-Geländes" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Räumung des Geländes
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Personenschutz" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Personenschutz
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Standposten" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Standposten
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Parkplatz-Verkehrsregelung" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Parkplatz-/Verkehrsregelung
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Eingangskontrollen" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Eingangskontrollen
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Patrouillengänge" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Patrouillengänge
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id=" Kontrolle-einer-Freifläche" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Kontrolle einer Freifläche
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Notausgangsüberwachung" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Notausgangsüberwachung
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Permanente-Bühnensicherung" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Permanente Bühnensicherung
                  </label>
                </div>
              </section>
            </div>
            <section class="w-100 text-center p-4 flex-1">
              <button
                type="submit"
                class="form-button btn btn-primary text-uppercase"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3">
                weiter
              </button>
            </section>
          </div>
          <div class="carousel-item">
            <div class="form-header text-center w-100 p-4">
              <span class="h2 text-white text-uppercase"
                >Angaben zur
                <span class="h2 text-primary text-uppercase"
                  >Sicherheitsbekleidung</span
                ></span
              >
            </div>

            <div class="input-container w-100 p-4">
              <section class="col-md-12 col-lg-6">
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Standposten" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Uniform 1 -Uniformhemd blau, schwarze Hose, schwarze
                    Rangerweste
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Standposten" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Uniform 2 - schwarzer oder grauer Overall
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Standposten" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Uniform 3 - schwarzer Anzug,weißes Hemd,schwarze
                    Sicherheitskrawatte, Dienstausweis
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Standposten" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Verkehrsweste
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="Standposten" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Sonstiges
                  </label>
                </div>
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Sonstige Bekleidung</label
                  >
                  <input
                    name="auftragsort"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Auftragsort" />
                </div>
              </section>
            </div>
            <section class="w-100 text-center p-4 flex-1">
              <button
                type="submit"
                class="form-button btn btn-primary text-uppercase"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4">
                weiter
              </button>
            </section>
          </div>
          <div class="carousel-item">
            <div class="input-group d-block w-100">
              <div class="form-header text-center w-100 p-4">
                <span class="h2 text-white text-uppercase">Gewünschte
                  <span class="h2 text-primary text-uppercase">Ausrüstung</span
                  ></span
                >
              </div>

              <div class="input-container w-100 p-4">
                <section class="col-md-12 col-lg-6">
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Personenschutz" />
                    <label class="form-check-label" for="flexCheckDefault">
                      UV-System
                    </label>
                  </div>
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Personenschutz" />
                    <label class="form-check-label" for="flexCheckDefault">
                      MagLite
                    </label>
                  </div>
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Personenschutz" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Funkgeräte
                    </label>
                  </div>
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Personenschutz" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Headset
                    </label>
                  </div>
                </section>

                <section class="col-md-12 col-lg-6">
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="vip-service" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Metalldetektor
                    </label>
                  </div>
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Räumung-des-Geländes" />
                    <label class="form-check-label" for="flexCheckDefault">
                     Diensthund
                    </label>
                  </div>
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Personenschutz" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Dienstwaffe
                    </label>
                  </div>
                  <div class="mb-3 w-100">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="Standposten" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Sonstiges
                    </label>
                  </div>
                
                </section>
              </div>
              <section class="w-100 text-center p-4 flex-1">
                <button
                  type="submit"
                  class="form-button btn btn-primary text-uppercase"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3">
                  weiter
                </button>
              </section>
            </div>
          </div>
          <div class="carousel-item">
            <div class="input-group d-block w-100">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
          </div>
          <div class="carousel-item">
            <div class="input-group d-block w-100">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
          </div>
          <div class="carousel-item">
            <div class="input-group d-block w-100">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
