{% set page_name = 'Personenschutz' %} {% set SEO_description = 'SSG using
Nunjucks and Gulp' %} {% set SEO_keywords = 'SSG, Nunjucks, Gulp, JavaScript' %}
{% extends "layouts/layout.html" %} {% block content %}
<section class="container hero-section">
  <div class="hero bg-dark-transparent">
    <div class="hero-image bg-personenschutz"></div>
    <div class="hero-text">
      <div class="my-3">
        <span class="h2 text-white text-uppercase"
          >personen<span class="h2 text-primary text-uppercase"
            >schutz</span
          ></span
        >
      </div>
      <span class="justify">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet.
      </span>
      <a
        href="Anfragen.html"
        class="btn btn-primary w-100 text-uppercase my-4 px-4n"
        >jetzt anfragen</a
      >
    </div>
  </div>
</section>

<section class="service-description-section container">
  <div
    class="service-description-mobile-content accordion accordion-flush"
    id="accordionFlushOne"
  >
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <span class="m-0 h4 text-uppercase text-white">Aufgabenbereiche</span>
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushOne"
      >
        <div class="accordion-body">
          <div class="service-description-content-body justify">
            <span class="h4">Im Bereich des Personenschutzes bieten wir:</span>
            <ul>
              <li>
                enger, erweiterter, bewaffneter und unbewaffneter
                Personenschutz.
              </li>
              <li>Geleitschutz durch Menschenmengen.</li>
              <li>permanenter Personenschutz.</li>
              <li>
                Ein weiterer Bereich des Personenschutzes, auf den sich unser
                Unternehmen spezialisiert hat, ist der der Stalkingabwehr.
              </li>
            </ul>
            <span class="h4">
              Unsere Leistungen im Bereich der Stalkingabwehr bestehen aus:
            </span>
            <ul>
              <li>Beratung.</li>
              <li>Betreuung.</li>
              <li>Professionelle Beweissicherung.</li>
              <li>Rasches Ergreifen von Maßnahmen.</li>
              <li>Und nachhaltigem Wirken.</li>
            </ul>
            <span class="h4"> Personenschutz für Kinder und Jugendliche: </span>
            <ul>
              <li>Begleitung von und zur Schule.</li>
              <li>Schutz bei Freizeitaktivitäten.</li>
              <li>
                Beratung von Eltern und Jugendlichen/Kindern in Bezug auf
                Verhaltensweisen bei gewissen Gefahren.
              </li>
              <li>
                Risikoanalyse und Überwachung von Plätzen, auf denen sich Kinder
                und Jugendliche aufhalten.
              </li>
              <li>Betreuung und Beratung im Fall von Mobbing.</li>
            </ul>
            <span class="h5 justify">
              Nur wenigen ist bewusst, dass Personenschutz ausschließlich
              Unternehmen vorbehalten ist, die das Gewerbe der Berufsdetektive
              ausüben dürfen! Dies ist in §129 Abs. 1 GewO Z 7 geregelt: „Einer
              Gewerbeberechtigung für das Gewerbe der Berufsdetektive (§94 Z 62)
              bedarf es für […] den Schutz von Personen“
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="service-description-mobile-content accordion accordion-flush"
    id="accordionFlushTwo"
  >
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSecond">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSecond"
          aria-expanded="false"
          aria-controls="flush-collapseSecond"
        >
          <span class="m-0 h4 text-uppercase text-white">Referenzen</span>
        </button>
      </h2>
      <div
        id="flush-collapseSecond"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSecond"
        data-bs-parent="#accordionFlushTwo"
      >
        <div class="accordion-body justify">
          Placeholder content for this accordion, which is intended to
          demonstrate the <code>.accordion-flush</code> class. This is the third
          item's accordion body. Nothing more exciting happening here in terms
          of content, but just filling up the space to make it look, at least at
          first glance, a bit more representative of how this would look in a
          real-world application.
        </div>
      </div>
    </div>
  </div>
  <div class="service-description-content w-100">
    <div class="service-description-content-header">
      <span class="m-0 h4 text-uppercase">Aufgabenbereiche</span>
    </div>
    <div class="service-description-content-body">
      <span class="h4">Im Bereich des Personenschutzes bieten wir:</span>
      <ul>
        <li>
          enger, erweiterter, bewaffneter und unbewaffneter Personenschutz.
        </li>
        <li>Geleitschutz durch Menschenmengen.</li>
        <li>permanenter Personenschutz.</li>
        <li>
          Ein weiterer Bereich des Personenschutzes, auf den sich unser
          Unternehmen spezialisiert hat, ist der der Stalkingabwehr.
        </li>
      </ul>
      <span class="h4">
        Unsere Leistungen im Bereich der Stalkingabwehr bestehen aus:
      </span>
      <ul>
        <li>Beratung.</li>
        <li>Betreuung.</li>
        <li>Professionelle Beweissicherung.</li>
        <li>Rasches Ergreifen von Maßnahmen.</li>
        <li>Und nachhaltigem Wirken.</li>
      </ul>
      <span class="h4"> Personenschutz für Kinder und Jugendliche: </span>
      <ul>
        <li>Begleitung von und zur Schule.</li>
        <li>Schutz bei Freizeitaktivitäten.</li>
        <li>
          Beratung von Eltern und Jugendlichen/Kindern in Bezug auf
          Verhaltensweisen bei gewissen Gefahren.
        </li>
        <li>
          Risikoanalyse und Überwachung von Plätzen, auf denen sich Kinder und
          Jugendliche aufhalten.
        </li>
        <li>Betreuung und Beratung im Fall von Mobbing.</li>
      </ul>
      <span class="h5 justify">
        Nur wenigen ist bewusst, dass Personenschutz ausschließlich Unternehmen
        vorbehalten ist, die das Gewerbe der Berufsdetektive ausüben dürfen!
        Dies ist in §129 Abs. 1 GewO Z 7 geregelt: „Einer Gewerbeberechtigung
        für das Gewerbe der Berufsdetektive (§94 Z 62) bedarf es für […] den
        Schutz von Personen“
      </span>
    </div>
  </div>

  <div class="service-description-content flex-shrink-1">
    <div class="service-reference-header text-center">
      <span class="m-0 h4 text-uppercase text">Referenzen</span>
    </div>
    <div class="service-reference-body"></div>
  </div>
</section>
{% endblock %}
