{% set page_name = 'Unternehmenssponsoring' %} {% set SEO_description = 'SSG
using Nunjucks and Gulp' %} {% set SEO_keywords = 'SSG, Nunjucks, Gulp,
JavaScript' %} {% extends "layouts/layout.html" %} {% block content %}
<section class="container sponsoring-hero-section">
  <div class="sponsoring-hero bg-dark-transparent">
    <div class="sponsoring-hero-image bg-unternehmenssponsoring"></div>
    <div class="sponsoring-hero-text">
      <div class="my-3">
        <span class="h2 text-white text-uppercase">Unternehmens</span>
        <span class="h2 text-primary text-uppercase">sponsoring</span>
      </div>
      <span class="justify">
        Ganz großen Wert legen wir auf die Unterstützung ehrenamtlicher Arbeit
        und die Förderung sportlicher Aktivitäten. Diese bieten unter anderem
        eine sinnvolle Freizeitbeschäftigung für unsere Jugend und leisten somit
        einen wertvollen Beitrag für unsere Gesellschaft. Ohne finanzielle
        Zuwendung durch private Unternehmen wäre die Existenz vieler Vereine
        jedoch längst gefährdet.
      </span>
    </div>
  </div>
</section>

<section class="container sponsoring-partner-section">
  <article class="sponsor bg-dark-transparent">
    <div class="sponsor-image bg-askoe"></div>
    <div class="my-3">
      <span class="h4 text-white text-uppercase">askö oes linz</span>
      <span class="h4 text-primary text-uppercase">karate</span>
    </div>
    <div class="sponsor-description">
      <span class="justify">
        Karate ist auch ein Weg zur Weiterentwicklung der Persönlichkeit und zur
        Festigung des Charakters, der schließlich zu einem inneren Wachstum
        führt. Somit ist Karate nicht nur eine Disziplin der Körperbeherrschung,
        sondern auch eine Schule der Geistesbildung, die einen das ganze Leben
        lang begleiten sollte.
      </span>
      <a
        href="http://www.seibukan.at/"
        class="btn btn-primary w-100 text-uppercase my-4 px-4n"
        >jetzt besuchen</a
      >
    </div>
  </article>

  <article class="sponsor bg-dark-transparent">
    <div class="sponsor-image bg-sharks"></div>
    <div class="my-3">
      <span class="h4 text-white text-uppercase">steel</span>
      <span class="h4 text-primary text-uppercase">sharks</span>
    </div>
    <div class="sponsor-description">
      <span class="justify">
        Football ist aufregend, temporeich und unberechenbar, athletisch und
        ästhetisch. Ein Spiel, bei dem nicht selten 60 Minuten Kampf in sechzig
        dramatischen Sekunden entschieden werden. Unter der Oberfläche verbirgt
        sich ein faszinierender Wettkampf zwischen Machismo und Mathematik,
        zwischen Schach und Schinderei.
      </span>
      <a
        href="https://www.steelsharks.at/"
        class="btn btn-primary w-100 text-uppercase my-4 px-4n"
        >jetzt besuchen</a
      >
    </div>
  </article>

  <article class="sponsor bg-dark-transparent">
    <div class="sponsor-image bg-tekaef"></div>
    <div class="my-3">
      <span class="h4 text-white text-uppercase">askö tekaef donau</span>
      <span class="h4 text-primary text-uppercase">linz</span>
    </div>
    <div class="sponsor-description">
      <span class="justify">
        Tüchtigen und ehrgeizigen Funktionären und Sportlern ist es gelungen,
        einen Klub zu formen, der ohne eigenen Platz jahrelang ein schweres Los
        getragen und sich redlich nach oben durchgekämpft hat. Viele Ziele
        wurden erreicht! Mit Idealismus und sportlicher Anständigkeit hoffen
        wir, auch weiterhin unseren Weg zu gehen.
      </span>
      <a
        href="https://www.donau-linz.at"
        class="btn btn-primary w-100 text-uppercase my-4 px-4n"
        >jetzt besuchen</a
      >
    </div>
  </article>

  <article class="sponsor bg-dark-transparent">
    <div class="sponsor-image bg-tauchclub"></div>
    <div class="my-3">
      <span class="h4 text-white text-uppercase">Tauchclub</span>
      <span class="h4 text-primary text-uppercase">wasserbüffel</span>
    </div>
    <div class="sponsor-description">
      <span class="justify">
        Wir sind ein junger, aktiver Tauchclub aus dem oberösterreichischem
        Zentralraum. Finden wirst du bei uns viel Spaß und Freude am Tauchen und
        was uns besonders wichtig ist, eine gemütliche Atmosphäre. Uns ist es
        egal ob du 10, 100 oder 1000 Tauchgänge hast, bei uns zählt die Freude
        und der Spaß an unserem gemeinsamen wunderbaren Hobby.
      </span>
      <a
        href="https://www.wasserbueffel.at"
        class="btn btn-primary w-100 text-uppercase my-4 px-4n"
        >jetzt besuchen</a
      >
    </div>
  </article>
</section>
{% endblock %}
