{% set page_name = 'Zertifizierung' %} {% set SEO_description = 'SSG using
Nunjucks and Gulp' %} {% set SEO_keywords = 'SSG, Nunjucks, Gulp, JavaScript' %}
{% extends "layouts/layout.html" %} {% block content %}
<section class="container iso-hero-section">
  <div class="iso-hero bg-dark-transparent">
    <div class="iso-hero-image bg-iso-zertifizierung"></div>
    <div class="iso-hero-text">
      <div class="my-3">
        <span class="h2 text-white text-uppercase"
          >ISO<span class="h2 text-primary text-uppercase"
            >Zertifizierung</span
          ></span
        >
      </div>
      <span class="justify max-w-600">
        Im Rahmen des immer populärer werdenden Qualitätsmanagements nahmen
        ISO-Standards auch in Bereich des Managements Einzug.
        <br />
        <br />
        Ein nach EN ISO 9001:2015 zertifiziertes Unternehmen kann belegen, dass
        es sowohl hinsichtlich Aufbau- als auch Ablauforganisation
        Qualitätssicherung betreibt.
        <br />
        <br />
        Die Zertifizierung eines Unternehmens wird durch externe internationale
        Zertifizierungsstellen durchgeführt. Nach der Einführung international
        geltender Qualitätsstandards erhält das Unternehmen ein entsprechendes
        Zertifikat.
        <br />
        <br />
        Allerdings ist dieses zeitlich begrenzt und zur Aufrechterhaltung sind
        zahlreiche Vorschriften zu beachten. So müssen bereits zertifizierte
        Unternehmen unter anderem firmeninterne Kontrollen durchführen, Abläufe
        optimieren und umfangreiche Dokumentationen erstellen.
        <br />
        <br />
        Gleichzeitig erfolgt in bestimmten Abständen eine Überprüfung der
        Abläufe und anderer Bereiche durch besagte firmenexterne internationale
        Zertifizierungsstellen. Erst nach positiv bestandener Überprüfung wird
        die Zertifizierung für einen bestimmten Zeitraum (in der Regel ein Jahr)
        verlängert.
        <br />
        <br />
        Somit ist Objektivität gewährleistet und sowohl KundInnen als auch
        LieferantInnen können sich darauf verlassen, wirklich mit einem
        Qualitätsbetrieb Kontakt zu haben.
      </span>
      <a
        href="iso-zertifizierung.pdf"
        class="hero-button btn btn-primary w-100 text-uppercase my-4 px-4n"
        >Zertifikat herunterladen</a
      >
    </div>
  </div>
</section>
{% endblock %}
